#page_container{
	margin: auto;
}
.first_ad_container{	
    position: relative;
    display: inline-block;

}
.first_ad_container .top_text p{
	margin: 0;
	width: 100%;
	font-size: 14px;
	color: gray;
}
.first_ad_container .img_container{
	width: 972px;
	height: 249px;
	    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(122,122,122,0)), color-stop(100%,rgba(0,0,0,0.65)));

}

.first_ad_container .img_container img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	
}

.first_ad_container .text_container{
	position: absolute;
	z-index: 999;
    left: 0;
    right: 0;
    top: 10%; /* Adjust this value to move the positioned div up and down */
    text-align: left;
    width: 60%;
	margin: 0 37% 0 3%;
	color: white;
}
.first_ad_container .text_container .icon_and_text{
	margin-top: 3%;
	margin-bottom: 3%;
	flex-direction: row;
	display: block;

}

.first_ad_container .text_container .icon_and_text i{
	margin-right: 5px;
 	float: left;
	vertical-align: middle;
}

.first_ad_container .text_container .icon_and_text span{
	font-size: 10px;
	vertical-align: middle;
	text-transform: uppercase;

}
.first_ad_container .text_container .first_text h3{
	font-size: 1.6em;
}

.first_ad_container .text_container .second_text{
	width: 60%;
	margin-top: -2%;
	margin-bottom: 4%;
}
.first_ad_container .text_container .third_text a{
	text-transform: uppercase;
	color: darkred;
	font-weight: bold;
	text-decoration: none;
}